
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Create Product", "Create", "Products", null, new { @class = "btn btn-info" })
<br />
<br />
<br />
<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var p in Model)
        {
            <tr>
                <td>@p.id</td>
                <td>@p.Name</td>
                <td>@p.Price</td>
                <td>
                   @Html.ActionLink("Delete Product","Delete","Products",new { id=p.id},new { @class = "btn btn-danger"})             
                   @Html.ActionLink("Edit Product","Edit","Products",new { id=p.id},new { @class = "btn btn-success"})             
                </td>
            </tr>
        }
    </tbody>
</table>